*{
    box-sizing: border-box;
}
.layout{
background-image:url("https://assets.nflxext.com/ffe/siteui/vlv3/9134db96-10d6-4a64-a619-a21da22f8999/a449fabb-05e4-4c8a-b062-b0bec7d03085/IN-en-20240115-trifectadaily-perspective_alpha_website_medium.jpg");
position:absolute;
height:100%;
background-color: black;
width:100%;
opacity:200%;

}
.sign{
   padding-top:20px;
   display: flex;
   padding-bottom: 50px;
}

.img{
    margin-left:100px;
}
.lang{
    height:30px;
    width:150px;
    font-family: 'Courier New';
    margin-right: 50px;

}
.lang:hover{
    border:2px solid white
}
.container{
    text-align: center;
    font-size:20px; 
    height:25px;
    width: 200px;
    background-color: red;
    color: white;
    margin-right:50px;
    border-radius: 5px;
}
.container:hover{
    border:2px solid white;
}
.heading{
    font-size:25px;
    opacity: 400%;
    font-family:'Courier New', Courier, monospace;
    color:white;
    margin-left:200px;
    font-weight: bold;
    text-align: center;
}
.watch{
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: center;
    font-weight: 700px;
}
.ready{
font-size:25px;
font-family:'Courier New', Courier, monospace;
color:white;
text-align: center;
font-weight: bolder;
}
.address{
    display: flex;
}
.email{
    width:400px;
    height:50px;
    font-size:35px;
    border:2px solid black;
    font-size:20px;
    text-align:left;
    margin-left:300px;
    color:white;
   
}
.email{
    background-color: black;
    opacity: 60%;
    margin-right:20px;
}
.email:hover{
    border:1px solid white;
    box-shadow: 20cap;
}
.getstarted{
    background-color:red;
    width:200px;
    height:50px;
    font-size:25px;
    color:white;
    text-align:center;
    
}
.getstarted:hover{
    border:2px solid white;

}